export(wicmad)
export(build_diagnostics)
export(plot_diagnostics)
export(save_plots_png)
export(save_diagnostics_from_res)
export(dahl_partition)
export(dahl_from_res)
export(map_partition)
export(map_from_res)
